<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://faculty-availability-dashboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4e7fce48-848d-49a2-bee0-b2a9e757a539/resourceGroups/Minor-Project/providers/Microsoft.Web/sites/faculty-availability-dashboard</ResourceId>
    <UserName>$faculty-availability-dashboard</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://faculty-availability-dashboard.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>